:root {
    --theme-color: #CB0C9F;
    --theme-active-color: #a3087a;
    --theme-dark-color: #920776;
    --theme-hover-color: #b3098a;
}

.text-theme {
    color: var(--theme-color) !important;
}

.text-sm {
    font-size: 0.775rem !important;
    line-height: 1.5;
}

.bg-theme {
    background-color: var(--theme-color) !important;
}

.btn-theme {
    --bs-btn-color: #fff !important;
    --bs-btn-bg: var(--theme-color) !important;
    --bs-btn-border-color: var(--theme-color) !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: var(--theme-hover-color) !important;
    --bs-btn-hover-border-color: var(--theme-active-color) !important;
    --bs-btn-focus-shadow-rgb: 203, 12, 159 !important;
    --bs-btn-active-color: #fff !important;
    --bs-btn-active-bg: var(--theme-active-color) !important;
    --bs-btn-active-border-color: var(--theme-dark-color) !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #000 !important;
    --bs-btn-disabled-bg: #f8f9fa !important;
    --bs-btn-disabled-border-color: #f8f9fa !important;
}

.text-variant {
    font-variant: small-caps;
}

.text-adjustable {
    font-size: clamp(1.3rem, 4vw, 2rem) !important;
}

.text-justify {
    text-align: justify !important;
}

.cursor-pointer {
    cursor: pointer;
}

.font-1 {
    font-family: 'Libre Franklin', cursive;
}

.font-2 {
    font-family: 'Rubik Doodle Shadow', cursive;
}

.font-3 {
    font-family: 'Arial', sans-serif;
}

.font-4 {
    font-family: 'Roboto Slab', serif;
}

.font-5 {
    font-family: "Arima Madurai";
}

.font-6 {
    font-family: "Rancho";
}

.font-7 {
    font-family: "Satisfy";
}

.overlay-bg {
    position: relative;
}

.overlay-shade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.page-link:focus, .page-link:active {
    box-shadow: none !important;
}
